streamlit==1.35.0
pandas>=1.0.0
nltk
matplotlib
scikit-learn
matplotlib
seaborn
numpy
scipy
beautifulsoup4
wordcloud
openpyxl
os
Ignored the following versions that require a different python version:
0.55.2 Requires-Python <3.5;
1.21.2 Requires-Python >=3.7,<3.11;
1.21.3 Requires-Python >=3.7,<3.11;
...